# models
*.h5 
*.weights
*.tar
*.tfrecord
/checkpoints/
/serving/
/logs/
/evaluation/
/results/
# data
/output.jpg
/data/digit_data/Annotations
/data/digit_data/ImageSets
/data/digit_data/JPEGImages



__pycache__/
