# models
*.h5 
*.weights
*.tar
*.tfrecord
/checkpoints/
/serving/
/logs/
# data
/output.jpg
/data/voc2012_raw/
/data/digit_data/Annotations
/data/digit_data/ImageSets
/data/digit_data/JPEGImages



__pycache__/
